.card {
  // Estilos de tu tarjeta aquí
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  margin: 24px;

  &__name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &__number {
    color: #666;
    margin-bottom: 0.25rem;
  }

  &__balance {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
    margin: 0.5rem 0;
  }

  &__detail {
    color: #888;
    font-size: 0.9rem;
  }
}
